<%- include('common/view_start', {
  title: 'Error',
  navBarLocation: 'error'
}) %>

<div class="header-bar danger">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1><%= error.status || 'Server Error!' %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <pre><%= error.stack %></pre>
    </div>
  </div>
</div>
  
<%- include('common/view_end') %>
