<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <span>A DB Project.</span>
        <span class="pull-right">
          Copyright &copy; 2017
        </span>
      </div>
    </div>
  </div>
</footer>