<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %> | DBProject</title>
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,700&amp;subset=thai" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css">
  <% if (typeof externalCSSURLs !== "undefined") { for (const URL of externalCSSURLs) { %>
  <link rel="stylesheet" href="<%= URL %>">
  <% } } %>
  <% if (typeof cssFiles !== "undefined") { for (const cssFile of cssFiles) { %>
  <link rel="stylesheet" href="/static/css/<%= cssFile %>.css">
  <% } } %>
</head>

<body>
  <div class="wrapper">
    <% if (typeof includeNavBar === "undefined" || includeNavBar !== false) { %>
    <%- include('nav_bar', {
      location: (typeof navBarLocation !== "undefined") ? navBarLocation : undefined
    }) %>
    <% } %>